*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root{
    --red: #F26419;
    --orange: #F6AE2D;
    --dark-blue: #33658A;
    --light-blue: #86BBD8;
    --dark: #2F4858;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* align container */
.container__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1{
    font-family: 'Cafe Matcha';
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--dark);
}

p{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    margin: 2rem 0;
    color: var(--dark);
}

a{text-decoration: none;}

ul li{list-style: none;}

/* LANDING AREA =============*/
#landing__area{
    width: 100%;
    height: 70vh;
    /*aca hiria un fonto*/
    background-position: center;
    background-size: cover;
}

#landing__area nav{
    height: 10%;
    width: 80%;
}

nav .logo{
    padding:0px 55px ;
    background: url(imgs/filled_pets_icon-icons.com_59360.png) no-repeat;
    font-family: 'Cafe Matcha';
    color: #6C63FF;
}

nav a{
    color: var(--light-blue);
    margin: 0 20px;
}
nav a:hover{color: #6C63FF;}

.landing__content {
    height: 90%;
    width: 80%;
}

.landing__content .landing__info{
    width: 60%;
    height: 100%;
}

.landing__info h1{color: var(--light-blue);}

.landing__info p{
    color: var(--light-blue);
    width: 60%;
}


.landing__info button{
    
    border: none;
    background: transparent;
    outline: none;
  
}

.landing__info button:active{
    
    transform: translateY(2px);
} 

.landing__info a{
    color: white;
    background-color: #6C63FF;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.image__pet{
    width: 40%;
    height: 100%;
    background: url(imgs/undraw_dog_walking_re_l61p.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* servicios*/
#help{
    width: 80vw;
    max-width: 1200px;
    margin: 3rem auto;
}

.help__cards--container{
    padding: 2rem;
}

#help .help__card{
    position: relative;
    margin: 0 5%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    padding: 60px 10px;
}

.help__card:first-of-type{background-color: #6C63FF;}
.help__card:nth-of-type(2){background-color: #6C63FF;}


.help__card h3,
.help__card p{ color: white;}

.help__card span{
    position: absolute;
    top: 5%;
    left: 0;
    background: white;
    padding: 5px;
    
}

.help__card:first-of-type span{color: lightblue;}
.help__card:nth-of-type(2) span {color: lightblue;}


.help__card .card__link{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
    opacity: 0;
}

.help__card:hover .card__link{
    animation: showLink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes showLink{
    0%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}

.card__link a{
    background-color: var(--dark-blue);
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
}
.container .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6C63FF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0 ;
}

.container .card h1{
    font-size: 30px;
    color: #fff;
}

.container .card .slide{
    width: 300px;
    height: 200px;
    transition: 0.6s;
}

.container .card .slide.slide1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
    transition: 0.6s;
}
.container .card:hover .slide.slide1{
    transform: translateY(0px);
}

.container .card  .slide.slide2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.6s;
    transform: translateY(-100px);
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;

}

.container .card:hover .slide.slide2{
    transform: translateY(0);
}

.container .card .slide.slide2 .content h3{
    margin: 0 0 10px 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
}

.container .card .slide.slide2 .content p{
    text-align: center;
    color: black;
    font-weight: bold;
}

/* quienes somos*/



.quienessomos .container{
    width: 60%;
    height: 100%;
}

.quienessomos p{
    text-align: right;
    color: var(--light-blue);
    height: 90%;
    width: 80%;
}
.quienessomos h1 {
    height: 90%;
    width: 80%;
    color: var(--light-blue);
    text-align: right;
}
.image__pet2{
    width: 40%;
    height: 100%;
    background: url(imgs/undraw_pet_adoption_-2-qkw.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*  FORM */
form{
    width: 60vw;
    max-width: 800px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

form .form__row{
    width: 100%;
    position: relative;
}

.form__row input{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: solid 1px var(--light-blue);
    outline: none;
}
/* hide arrows form input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.form__row label{
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: lightblue;
    font-size: 14px;
    transition: 0.5s;
}

input:focus ~ label{
    top: -5px;
    font-size: 10px;
    color: darkblue;
}

textarea{
    width: 100%;
    height: 30px;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid var(--light-blue);
    outline: none;
    appearance: none;
    resize: none;
}

textarea::placeholder{
    color: var(--dark-blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button{
    background-color: var(--dark-blue);
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 60%;
    margin: 5px;
}

form button:active{
    transform: scale(0.99);
}



/* FOOTER */
footer{
    background-color: #6C63FF;
}

.footer__cont{
    width: 60%;
    margin: auto;
}

.footer__cont p{
    color: white;
}

.footer__cont .fab{
    color: white;
    font-size: 20px;
    margin: 0 10px;
}
